* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}
.header h3{
    color: red;
    font-style: italic;
    margin-left: 60px;
}
.header img{
    width: 50%;
}
.search{
    width: 30%;
}
.navbar-menu {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Content 1 */
.ct1{
    text-align: center;
    margin-bottom: 50px;
}
.ct1 h2{
    text-align: center;
    color: #0ec0c3;
}
.col-md-3 img{
    width: 80%;
}
.col-md-6 img{
    width: 80%;
}
.ct1 img{
    padding-bottom: 10px;
}

/* Content 2 */
.head-ct2{

    text-align: center;
    color: #0ec0c3;
}
.ct2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

}
.ct2 img{
    width: 100%;
    height: 80%;
}
.ct2 h3{
    color: orange;
}
.ct2 .col-md-4{
    margin-bottom: 20px;
}
.ct2 p{
    text-align: justify;
}


/* Content 3 */
.ct3{
    justify-content: center;
}
.ct3 h1{
    color: #0ec0c3;
}
.ct3 label {
    margin-bottom: 15px;
}

/* footer */
.footer{
    background-color: #0ec0c3;
    text-align: center;
    color: white;
    margin-top: 15px;
}